%body
	%div= haml :navbar
	%div
		.container
			.hero-unit
				%h1
					About Us!
				%p
					We worked all semester to get the Crawler and Sunspot working in a variety of ways.  This website, as well as
					our live demo demonstrate the skills we learned during the semester.  The group members are:

					Raphael
					Kaituo
					Linlin
					Guangshuo
				%p
					%a.btn.btn-primary.btn-large{:HREF => '/localizer'} Watch the Crawler position!
			
	/ Placed at the end of the document so the pages load faster
	%script{ :type => "text/javascript", :src =>"/jquery-1.9.1.min.js"}
	%script{ :type => "text/javascript", :src =>"/bootstrap/js/bootstrap.min.js"}