%html
	%head
		%meta{:charset => "utf-8"}
		%title SpotLVC
		%meta{:name => "description", :content => "Control Site and Visualizer for the Spot Controlled Crawler"}
		%meta{:name => "author", :content => "Group 9 EC544 2013"}

		:plain
			<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
			<!--[if lt IE 9]>
				<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->

		/ Le styles
		%link{ :href => "/bootstrap/css/bootstrap.css", :type => "text/css", :rel => "stylesheet" }
	
		%link{ :href => "/bootstrap/css/bootstrap-responsive.css", :type => "text/css", :rel => "stylesheet" }	

		/ Le fav and touch icons 
		%link{ rel: "apple-touch-icon", href: "/bootstrap/images/apple-touch-icon.png"}
		%link{ rel: "shortcut icon", href: "/bootstrap/images/favicon.ico"}
		%link{ rel: "apple-touch-icon", sizes: "72x72", href: "/bootstrap/images/apple-touch-icon-72x72.png"}
		%link{ rel: "apple-touch-icon", sizes: "114x114", href: "/bootstrap/images/apple-touch-icon-114x114.png"}
	
	=yield 
