%body{ :onLoad => "loadLocalizer()"}
	%div= haml :navbar							
	.container
		.hero-unit
			:javascript
				// Globals for the graphics
				var car = new Image();
				var hallway = new Image();
				var carData = new Image();
				var back = new Image();
				var debug = true;
				var ctx;
				var canvas;
				var xPos;
				var yPos;
				var oldX;
				var oldY;
				var canvasWidth = 700;
				var canvasHeight = 590;
				/* Variables with all beacons */
				// var beaconPosX = [20, 100, 330, 380, 380, 330, 100, 20];
				// var beaconPosY = [480, 530, 530, 480, 80, 20, 20, 80];
				/* Variables with beacons purely used for turning */
				var beaconPosX = [20, 330, 380, 100];
				var beaconPosY = [480, 530, 80, 20];
				// The jquery plot
				var plot;
				var plotData = [];
				// The onload method
				function loadLocalizer()
				{
					// Get the canvas element.
					canvas = document.getElementById("localizerCanvas");
					// Make sure you got it.
					if (canvas.getContext)
					// If you have it, create a canvas user inteface element.
					{
						if (debug == true)
						{
							console.log("Successfully retried canvas");
						}
						// Position the canvas nicely
						var elementWidth = window.innerWidth;
						canvas.style.position = "absolute";
						canvas.style.left = (elementWidth - canvasWidth) / 2;   
						// Specify 2d canvas type.
						ctx = canvas.getContext("2d");
						// Paint it white.
						ctx.fillStyle = "white";
						ctx.rect(0, 0, canvasWidth, canvasHeight);
						ctx.fill();	
						// Draw the hallway in the middle of the canvas
						hallway.onload = function() 
						{
							ctx.drawImage(hallway, 130, 0);
							car.src = 'images/car.jpg';
						}
						hallway.src = 'images/hallway.png'
						// Draw the car in an initial position
						car.onload = function() {
							ctx.drawImage(car, 145, 285);
						}
					}
					else
					{
						console.log("Error retrieving canvas");
					}
				}
				// Position updater, repeatedly called by the eventSource
				function updateCarPosition(x, y)
				{
					// The position is update everytime data is received.  Repaints the background and foreground
					// Put old background down to erase old car
					// var tempX = oldX; //Weird hack that I need
					// var tempY = oldY;
					// oldX = xPos;
					// oldY = yPos;
					// xPos = x;
					// yPos = y;
					// // Put car in new position.
					// ctx.clearRect(0, 0, canvas.width, canvas.height);
					// ctx.fill();
					// // ctx.putImageData(back, tempX, canvasHeight - tempY);
					// ctx.putImageData(carData, xPos, canvasHeight - yPos);
					ctx.clearRect ( 130 , 0 , 439 , 590 );
					ctx.drawImage(hallway, 130, 0);
					ctx.drawImage(car, 130 + x, y);
				}
				// The event source, and set up for updates
				var source=new EventSource("/localizer/datastream");
				source.onmessage=function(event) 
				{
					var data = event.data.split(' ');
					var x = parseInt(data[0]);
					document.getElementById("time").innerHTML = "The current nearby beacon is " + x;
					updateCarPosition(beaconPosX[x], beaconPosY[x]);
				};
			%h1
				Localization
			%br
			%div{ :style => "min-height:590px; height:auto; height:590px;" }
				%canvas{:id => "localizerCanvas", :width => "700", :height => "590"}
			%br
			%div{:class => "alert alert-warning", :id => "time"}
				The position has not yet been updated
			%br
				The localizer above is the hallway representation, with the beacons marked with stars. The green square is the last 
				known location of the crawler, and it is updated in real time. The star in the bottom left corner is beacon 0.
			/ %br
			/ 	The beacons are located at (0,0), (0,390), (390,390) in centimeters.
			/ %div{ :id => "plotDistance", :style => "min-height:400px; height:auto; height:400px;" }
		%hr

		%div= haml :footer

	/ Placed at the end of the document so the pages load faster
	%script{ :type => "text/javascript", :src =>"/flot/jquery.min.js"}
	%script{ :type => "text/javascript", :src =>"/flot/jquery.flot.js"}
	%script{ :type => "text/javascript", :src =>"/bootstrap/js/bootstrap.min.js"}